* {
  box-sizing: border-box;
  font-family: Red Hat Text, sans-serif;
}

body {
  font-size: 12px;
  text-align: center;
}

body,
html {
  height: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 100%;
  width: 100vw;
  background: #f9f9fc;
}

.header_conatiner {
  padding: 8px 0 0;
  display: flex;
}

h3 {
  word-wrap: break-word;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  max-width: 100%;
  word-break: break-word;
  text-align: left;
}

.content_container {
  display: flex;
  flex: 1;
  flex-flow: column;
  margin: 0 auto;
  max-width: 460px;
  width: 100vw;
}

.content_content {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  margin: 12px 0 24px;
  padding: 20px;
}

.form_body {
  display: flex;
  flex-flow: column;
}

button {
  background-color: #c6d2fa;
  border-color: #c6d2fa;
  cursor: not-allowed;
  pointer-events: none;
  text-transform: capitalize;
  align-self: center;
  min-width: 40%;
  align-items: center;
  background: #4972f4;
  background-color: rgb(73, 114, 244);
  border: 2px solid #4972f4;
  border-top-color: rgb(73, 114, 244);
  border-right-color: rgb(73, 114, 244);
  border-bottom-color: rgb(73, 114, 244);
  border-left-color: rgb(73, 114, 244);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  height: 49px;
  justify-content: center;
  min-width: 100px;
  outline: none;
  padding: 12px 25px;
  text-decoration: none;
  transition: all 0.1s, visibility 0s;
  margin-bottom: 8px;
}

.form_content {
  margin-bottom: 32px;
  width: 100%;
  text-align: left;
  margin-top: 8px;
}

.form_content .form-header {
  color: #102d6f;
  font-size: 14px;
  font-weight: 500;
}
.form_content .form-text {
  font-size: 14px;
  line-height: 16px;
}

.footer_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 0 0 8px;
}

.footer_link {
  background: #ecf1fe;
  color: #4972f4;
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  text-decoration: none;
}
